### Import libraries & csv data

In [1]:
import pandas as pd
import numpy as np

In [2]:
train_data = pd.read_csv("data/train_dataset.csv")
submission_data = pd.read_csv("data/test_dataset_new.csv")

In [3]:
data_cat_cols = ['device_type', 'device_category', 'gender', 'district_name', 'age_group']

In [4]:
data_quan_cols = ['network_stay','average_monthly_bill_amount', 'dusage_sum', 
                 'dusage_min', 'dusage_max','dusage_avg', 'dusage_days', 
                 'dusage_stddev', 'vusage_onnet_sum','vusage_onnet_max', 
                 'vusage_onnet_min', 'vusage_onnet_days','vusage_onnet_stddev', 
                 'vusage_offnet_sum', 'vusage_offnet_max','vusage_offnet_min', 
                 'vusage_offnet_days', 'vusage_offnet_avg','vusage_offnet_stddev', 
                 'number_of_fixed_bb_accounts','number_of_iptv_accounts', 
                 'add_on_tot_rental', 'add_on_count']

In [19]:
for category in data_cat_cols:
    print("The category is", category)
    print(train_data[category].unique())

The category is device_type
['4G' '2G' '3G' 'Unknown']
The category is device_category
['Smartphone' 'Basic' 'Feature phone' 'Pluggable card' 'Tablet' 'Unknown'
 'Modem']
The category is gender
['MALE' 'FEMALE' 'Unknown']
The category is district_name
['Kegalle' 'Galle' 'Kandy' 'Colombo' 'Gampaha' 'Kalutara' 'Kurunegala'
 'Puttalam' 'Jaffna' 'Ampara' 'Matara' 'Matale' 'Anuradhapura' 'Ratnapura'
 'Nuwara Eliya' 'Badulla' 'Unknown' 'Mannar' 'Monaragala' 'Trincomalee'
 'Batticaloa' 'Hambantota' 'Polonnaruwa' 'Vavuniya' 'Kilinochchi'
 'Mullaitivu']
The category is age_group
['40-50' '30-40' '50-60' '20-30' '>70' 'Unknown' '60-70' '<20']

In [20]:
for category in data_cat_cols:
    print("The category is", category)
    print(submission_data[category].unique())

The category is device_type
['4G' '2G' '3G' 'Unknown']
The category is device_category
['Smartphone' 'Basic' 'Feature phone' 'Unknown' 'Tablet' 'Pluggable card'
 'Modem']
The category is gender
['MALE' 'FEMALE' 'Unknown']
The category is district_name
['Colombo' 'Matara' 'Kandy' 'Galle' 'Gampaha' 'Kurunegala' 'Kegalle'
 'Matale' 'Kalutara' 'Anuradhapura' 'Puttalam' 'Trincomalee' 'Jaffna'
 'Batticaloa' 'Hambantota' 'Monaragala' 'Nuwara Eliya' 'Ratnapura'
 'Ampara' 'Badulla' 'Unknown' 'Mannar' 'Mullaitivu' 'Vavuniya'
 'Kilinochchi' 'Polonnaruwa']
The category is age_group
['40-50' '20-30' '30-40' '>70' '50-60' '60-70' 'Unknown' '<20']

In [7]:
train_data['device_category'].unique()

array(['Smartphone', 'Basic', 'Feature phone', 'Pluggable card', 'Tablet',
       nan, 'Modem'], dtype=object)

In [8]:
submission_data['device_category'].unique()

array(['Smartphone', 'Basic', 'Feature phone', 'Unknown', nan, 'Tablet',
       'Pluggable card', 'Modem'], dtype=object)

In [9]:
train_data['dusage_avg'] = train_data['dusage_avg'].fillna(value = 0)
train_data['vusage_offnet_avg'] = train_data['vusage_offnet_avg'].fillna(value = 0)
train_data['add_on_tot_rental'] = train_data['add_on_tot_rental'].fillna(value = 0)
train_data['add_on_count'] = train_data['add_on_count'].fillna(value = 0)

In [10]:
submission_data['dusage_avg'] = submission_data['dusage_avg'].fillna(value = 0)
submission_data['vusage_offnet_avg'] = submission_data['vusage_offnet_avg'].fillna(value = 0)
submission_data['add_on_tot_rental'] = submission_data['add_on_tot_rental'].fillna(value = 0)
submission_data['add_on_count'] = submission_data['add_on_count'].fillna(value = 0)

In [11]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10500 entries, 0 to 10499
Data columns (total 31 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   primary_identifier           10500 non-null  int64
 1   device_type                  10477 non-null  object
 2   device_category              10470 non-null  object
 3   gender                       10365 non-null  object
 4   district_name                10500 non-null  object
 5   age_group                    10365 non-null  object
 6   network_stay                 10500 non-null  int64
 7   average_monthly_bill_amount  10500 non-null  float64
 8   dusage_sum                   10500 non-null  float64
 9   dusage_min                   10500 non-null  float64
 10  dusage_max                   10500 non-null  float64
 11  dusage_avg                   10500 non-null  float64
 12  dusage_days                  10500 non-null  float64
 13  dusage_stddev                10500 non-null  float64
 14  vusage_onnet_sum             10500 non-null  float64
 15  vusage_onnet_max             10500 non-null  float64
 16  vusage_onnet_min             10500 non-null  float64
 17  vusage_onnet_days            10500 non-null  float64
 18  vusage_onnet_avg             1828 non-null   float64
 19  vusage_onnet_stddev          10500 non-null  float64
 20  vusage_offnet_sum            10500 non-null  float64
 21  vusage_offnet_max            10500 non-null  float64
 22  vusage_offnet_min            10500 non-null  float64
 23  vusage_offnet_days           10500 non-null  float64
 24  vusage_offnet_avg            10500 non-null  float64
 25  vusage_offnet_stddev         10500 non-null  float64
 26  number_of_fixed_bb_accounts  10500 non-null  float64
 27  number_of_iptv_accounts      10500 non-null  float64
 28  add_on_tot_rental            10500 non-null  float64
 29  add_on_count                 10500 non-null  float64
 30  next_month_plan              10500 non-null  object
dtypes: float64(23), int64(2), object(6)
memory usage: 2.5+ MB

In [12]:
submission_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4500 entries, 0 to 4499
Data columns (total 30 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   primary_identifier           4500 non-null   int64
 1   device_type                  4487 non-null   object
 2   device_category              4484 non-null   object
 3   gender                       4445 non-null   object
 4   district_name                4500 non-null   object
 5   age_group                    4445 non-null   object
 6   network_stay                 4500 non-null   int64
 7   average_monthly_bill_amount  4500 non-null   float64
 8   dusage_sum                   4500 non-null   int64
 9   dusage_min                   4500 non-null   float64
 10  dusage_max                   4500 non-null   float64
 11  dusage_avg                   4500 non-null   float64
 12  dusage_days                  4500 non-null   int64
 13  dusage_stddev                4500 non-null   float64
 14  vusage_onnet_sum             4500 non-null   int64
 15  vusage_onnet_max             4500 non-null   float64
 16  vusage_onnet_min             4500 non-null   float64
 17  vusage_onnet_days            4500 non-null   int64
 18  vusage_onnet_avg             785 non-null    float64
 19  vusage_onnet_stddev          4500 non-null   float64
 20  vusage_offnet_sum            4500 non-null   int64
 21  vusage_offnet_max            4500 non-null   float64
 22  vusage_offnet_min            4500 non-null   float64
 23  vusage_offnet_days           4500 non-null   int64
 24  vusage_offnet_avg            4500 non-null   float64
 25  vusage_offnet_stddev         4500 non-null   float64
 26  number_of_fixed_bb_accounts  4500 non-null   int64
 27  number_of_iptv_accounts      4500 non-null   int64
 28  add_on_tot_rental            4500 non-null   float64
 29  add_on_count                 4500 non-null   float64
dtypes: float64(15), int64(10), object(5)
memory usage: 1.0+ MB

In [13]:
train_data = train_data.drop(columns = ['vusage_onnet_avg'])
submission_data = submission_data.drop(columns = ['vusage_onnet_avg'])

In [14]:
train_data['device_type'] = train_data['device_type'].fillna(value = 'Unknown')
train_data['device_category'] = train_data['device_category'].fillna(value = 'Unknown')
train_data['gender'] = train_data['gender'].fillna(value = 'Unknown')
train_data['age_group'] = train_data['age_group'].fillna(value = 'Unknown')

In [16]:
submission_data['device_type'] = submission_data['device_type'].fillna(value = 'Unknown')
submission_data['device_category'] = submission_data['device_category'].fillna(value = 'Unknown')
submission_data['gender'] = submission_data['gender'].fillna(value = 'Unknown')
submission_data['age_group'] = submission_data['age_group'].fillna(value = 'Unknown')

In [15]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10500 entries, 0 to 10499
Data columns (total 30 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   primary_identifier           10500 non-null  int64
 1   device_type                  10500 non-null  object
 2   device_category              10500 non-null  object
 3   gender                       10500 non-null  object
 4   district_name                10500 non-null  object
 5   age_group                    10500 non-null  object
 6   network_stay                 10500 non-null  int64
 7   average_monthly_bill_amount  10500 non-null  float64
 8   dusage_sum                   10500 non-null  float64
 9   dusage_min                   10500 non-null  float64
 10  dusage_max                   10500 non-null  float64
 11  dusage_avg                   10500 non-null  float64
 12  dusage_days                  10500 non-null  float64
 13  dusage_stddev                10500 non-null  float64
 14  vusage_onnet_sum             10500 non-null  float64
 15  vusage_onnet_max             10500 non-null  float64
 16  vusage_onnet_min             10500 non-null  float64
 17  vusage_onnet_days            10500 non-null  float64
 18  vusage_onnet_stddev          10500 non-null  float64
 19  vusage_offnet_sum            10500 non-null  float64
 20  vusage_offnet_max            10500 non-null  float64
 21  vusage_offnet_min            10500 non-null  float64
 22  vusage_offnet_days           10500 non-null  float64
 23  vusage_offnet_avg            10500 non-null  float64
 24  vusage_offnet_stddev         10500 non-null  float64
 25  number_of_fixed_bb_accounts  10500 non-null  float64
 26  number_of_iptv_accounts      10500 non-null  float64
 27  add_on_tot_rental            10500 non-null  float64
 28  add_on_count                 10500 non-null  float64
 29  next_month_plan              10500 non-null  object
dtypes: float64(22), int64(2), object(6)
memory usage: 2.4+ MB

In [17]:
submission_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4500 entries, 0 to 4499
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   primary_identifier           4500 non-null   int64
 1   device_type                  4500 non-null   object
 2   device_category              4500 non-null   object
 3   gender                       4500 non-null   object
 4   district_name                4500 non-null   object
 5   age_group                    4500 non-null   object
 6   network_stay                 4500 non-null   int64
 7   average_monthly_bill_amount  4500 non-null   float64
 8   dusage_sum                   4500 non-null   int64
 9   dusage_min                   4500 non-null   float64
 10  dusage_max                   4500 non-null   float64
 11  dusage_avg                   4500 non-null   float64
 12  dusage_days                  4500 non-null   int64
 13  dusage_stddev                4500 non-null   float64
 14  vusage_onnet_sum             4500 non-null   int64
 15  vusage_onnet_max             4500 non-null   float64
 16  vusage_onnet_min             4500 non-null   float64
 17  vusage_onnet_days            4500 non-null   int64
 18  vusage_onnet_stddev          4500 non-null   float64
 19  vusage_offnet_sum            4500 non-null   int64
 20  vusage_offnet_max            4500 non-null   float64
 21  vusage_offnet_min            4500 non-null   float64
 22  vusage_offnet_days           4500 non-null   int64
 23  vusage_offnet_avg            4500 non-null   float64
 24  vusage_offnet_stddev         4500 non-null   float64
 25  number_of_fixed_bb_accounts  4500 non-null   int64
 26  number_of_iptv_accounts      4500 non-null   int64
 27  add_on_tot_rental            4500 non-null   float64
 28  add_on_count                 4500 non-null   float64
dtypes: float64(14), int64(10), object(5)
memory usage: 1019.7+ KB

In [18]:
submission_data['device_category'].unique()

array(['Smartphone', 'Basic', 'Feature phone', 'Unknown', 'Tablet',
       'Pluggable card', 'Modem'], dtype=object)