In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn import preprocessing
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler #you can use minmax scaler too
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV
#Import other necessary model libraries, for this example, using Logistic Regression

In [2]:
train_data = pd.read_csv("data/train_dataset.csv")

In [3]:
train_data.tail()

,primary_identifier,device_type,device_category,gender,district_name,age_group,network_stay,average_monthly_bill_amount,dusage_sum,dusage_min,...,vusage_offnet_max,vusage_offnet_min,vusage_offnet_days,vusage_offnet_avg,vusage_offnet_stddev,number_of_fixed_bb_accounts,number_of_iptv_accounts,add_on_tot_rental,add_on_count,next_month_plan
10495,1438655,4G,Smartphone,MALE,Kalutara,40-50,64,2088.13,479.0,0.346959,...,29.866667,0.0,7.0,14.571429,8.017054,0.0,0.0,NaN,NaN,PKG6
10496,7827264,4G,Smartphone,FEMALE,Colombo,<20,6,2053.50,23168.0,0.219985,...,25.366667,0.0,3.0,10.861111,5.151029,0.0,0.0,580.0,3.0,PKG1
10497,1433957,4G,Smartphone,FEMALE,Colombo,30-40,69,2827.33,4553.0,4.831711,...,0.000000,0.0,0.0,NaN,0.000000,0.0,1.0,NaN,NaN,PKG6
10498,8494507,4G,Smartphone,MALE,Kandy,60-70,233,645.43,2069.0,4.722031,...,18.650000,0.0,18.0,5.887963,4.956822,0.0,1.0,NaN,NaN,PKG1
10499,3569439,3G,Smartphone,MALE,Puttalam,40-50,33,498.20,536.0,0.003048,...,4.366667,0.0,7.0,2.228571,1.096541,0.0,0.0,NaN,NaN,PKG1

In [4]:
train_data['next_month_plan'] = train_data['next_month_plan'].astype('category')

In [5]:
train_data['next_month_plan'].unique()

['PKG2', 'PKG1', 'PKG6', 'PKG4', 'PKG5', 'PKG3', 'PKG8', 'PKG7']
Categories (8, object): ['PKG2', 'PKG1', 'PKG6', 'PKG4', 'PKG5', 'PKG3', 'PKG8', 'PKG7']

In [6]:
labels_x = ['PKG0','PKG1', 'PKG2', 'PKG3', 'PKG4', 'PKG5', 'PKG6', 'PKG7', 'PKG8']

In [7]:
le = preprocessing.LabelEncoder()

In [8]:
le.fit(labels_x)

LabelEncoder()

In [9]:
le.classes_

array(['PKG0', 'PKG1', 'PKG2', 'PKG3', 'PKG4', 'PKG5', 'PKG6', 'PKG7',
       'PKG8'], dtype='<U4')

In [10]:
train_data['encoded_class_labels'] = le.transform(train_data['next_month_plan'])

In [11]:
train_data.head()

,primary_identifier,device_type,device_category,gender,district_name,age_group,network_stay,average_monthly_bill_amount,dusage_sum,dusage_min,...,vusage_offnet_min,vusage_offnet_days,vusage_offnet_avg,vusage_offnet_stddev,number_of_fixed_bb_accounts,number_of_iptv_accounts,add_on_tot_rental,add_on_count,next_month_plan,encoded_class_labels
0,6875768,4G,Smartphone,MALE,Kegalle,40-50,219,761.62,6317.0,2.773958,...,0.0,27.0,25.099383,34.759221,0.0,1.0,NaN,NaN,PKG2,2
1,6406277,4G,Smartphone,MALE,Galle,40-50,36,2482.52,28365.0,3.079438,...,0.0,15.0,5.071111,6.779644,0.0,0.0,600.0,2.0,PKG1,1
2,3563570,4G,Smartphone,MALE,Kandy,30-40,186,1565.55,18581.0,48.193713,...,0.0,0.0,NaN,0.000000,0.0,0.0,0.0,1.0,PKG6,6
3,1853666,4G,Smartphone,FEMALE,Colombo,40-50,24,2397.49,91071.0,22.437842,...,0.0,0.0,NaN,0.000000,0.0,0.0,1110.0,2.0,PKG4,4
4,2794331,4G,Smartphone,FEMALE,Kandy,50-60,37,2501.75,19736.0,53.302092,...,0.0,23.0,11.256522,16.224071,0.0,1.0,1350.0,2.0,PKG4,4

In [12]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10500 entries, 0 to 10499
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   primary_identifier           10500 non-null  int64
 1   device_type                  10477 non-null  object
 2   device_category              10470 non-null  object
 3   gender                       10365 non-null  object
 4   district_name                10500 non-null  object
 5   age_group                    10365 non-null  object
 6   network_stay                 10500 non-null  int64
 7   average_monthly_bill_amount  10500 non-null  float64
 8   dusage_sum                   10500 non-null  float64
 9   dusage_min                   10500 non-null  float64
 10  dusage_max                   10500 non-null  float64
 11  dusage_avg                   9642 non-null   float64
 12  dusage_days                  10500 non-null  float64
 13  dusage_stddev                10500 non-null  float64
 14  vusage_onnet_sum             10500 non-null  float64
 15  vusage_onnet_max             10500 non-null  float64
 16  vusage_onnet_min             10500 non-null  float64
 17  vusage_onnet_days            10500 non-null  float64
 18  vusage_onnet_avg             1828 non-null   float64
 19  vusage_onnet_stddev          10500 non-null  float64
 20  vusage_offnet_sum            10500 non-null  float64
 21  vusage_offnet_max            10500 non-null  float64
 22  vusage_offnet_min            10500 non-null  float64
 23  vusage_offnet_days           10500 non-null  float64
 24  vusage_offnet_avg            7187 non-null   float64
 25  vusage_offnet_stddev         10500 non-null  float64
 26  number_of_fixed_bb_accounts  10500 non-null  float64
 27  number_of_iptv_accounts      10500 non-null  float64
 28  add_on_tot_rental            6667 non-null   float64
 29  add_on_count                 6667 non-null   float64
 30  next_month_plan              10500 non-null  category
 31  encoded_class_labels         10500 non-null  int64
dtypes: category(1), float64(23), int64(3), object(5)
memory usage: 2.5+ MB

In [13]:
train_data = train_data.dropna(subset = ['device_type', 'device_category', 'gender', 'age_group'], axis = 0)

In [14]:
train_data = train_data.drop(columns = ['next_month_plan', 'vusage_onnet_avg'])

In [15]:
train_data['dusage_avg'] = train_data['dusage_avg'].fillna(value = 0)
train_data['vusage_offnet_avg'] = train_data['vusage_offnet_avg'].fillna(value = 0)
train_data['add_on_tot_rental'] = train_data['add_on_tot_rental'].fillna(value = 0)
train_data['add_on_count'] = train_data['add_on_count'].fillna(value = 0)

In [16]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10337 entries, 0 to 10499
Data columns (total 30 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   primary_identifier           10337 non-null  int64
 1   device_type                  10337 non-null  object
 2   device_category              10337 non-null  object
 3   gender                       10337 non-null  object
 4   district_name                10337 non-null  object
 5   age_group                    10337 non-null  object
 6   network_stay                 10337 non-null  int64
 7   average_monthly_bill_amount  10337 non-null  float64
 8   dusage_sum                   10337 non-null  float64
 9   dusage_min                   10337 non-null  float64
 10  dusage_max                   10337 non-null  float64
 11  dusage_avg                   10337 non-null  float64
 12  dusage_days                  10337 non-null  float64
 13  dusage_stddev                10337 non-null  float64
 14  vusage_onnet_sum             10337 non-null  float64
 15  vusage_onnet_max             10337 non-null  float64
 16  vusage_onnet_min             10337 non-null  float64
 17  vusage_onnet_days            10337 non-null  float64
 18  vusage_onnet_stddev          10337 non-null  float64
 19  vusage_offnet_sum            10337 non-null  float64
 20  vusage_offnet_max            10337 non-null  float64
 21  vusage_offnet_min            10337 non-null  float64
 22  vusage_offnet_days           10337 non-null  float64
 23  vusage_offnet_avg            10337 non-null  float64
 24  vusage_offnet_stddev         10337 non-null  float64
 25  number_of_fixed_bb_accounts  10337 non-null  float64
 26  number_of_iptv_accounts      10337 non-null  float64
 27  add_on_tot_rental            10337 non-null  float64
 28  add_on_count                 10337 non-null  float64
 29  encoded_class_labels         10337 non-null  int64
dtypes: float64(22), int64(3), object(5)
memory usage: 2.4+ MB

In [17]:
train_data.columns

Index(['primary_identifier', 'device_type', 'device_category', 'gender',
       'district_name', 'age_group', 'network_stay',
       'average_monthly_bill_amount', 'dusage_sum', 'dusage_min', 'dusage_max',
       'dusage_avg', 'dusage_days', 'dusage_stddev', 'vusage_onnet_sum',
       'vusage_onnet_max', 'vusage_onnet_min', 'vusage_onnet_days',
       'vusage_onnet_stddev', 'vusage_offnet_sum', 'vusage_offnet_max',
       'vusage_offnet_min', 'vusage_offnet_days', 'vusage_offnet_avg',
       'vusage_offnet_stddev', 'number_of_fixed_bb_accounts',
       'number_of_iptv_accounts', 'add_on_tot_rental', 'add_on_count',
       'encoded_class_labels'],
      dtype='object')

In [18]:
data_cat_cols = ['device_type', 'device_category', 'gender', 'district_name', 'age_group']

In [19]:
data_quan_cols = ['network_stay','average_monthly_bill_amount', 'dusage_sum', 
                 'dusage_min', 'dusage_max','dusage_avg', 'dusage_days', 
                 'dusage_stddev', 'vusage_onnet_sum','vusage_onnet_max', 
                 'vusage_onnet_min', 'vusage_onnet_days','vusage_onnet_stddev', 
                 'vusage_offnet_sum', 'vusage_offnet_max','vusage_offnet_min', 
                 'vusage_offnet_days', 'vusage_offnet_avg','vusage_offnet_stddev', 
                 'number_of_fixed_bb_accounts','number_of_iptv_accounts', 
                 'add_on_tot_rental', 'add_on_count']

In [20]:
X = train_data.drop(columns=['encoded_class_labels', 'primary_identifier'])

In [21]:
y = train_data['encoded_class_labels']

In [22]:
X_train, X_test, Y_train, Y_test = train_test_split(X, y, random_state=10, test_size = 0.05, stratify = y)

In [23]:
X_train.head()

,device_type,device_category,gender,district_name,age_group,network_stay,average_monthly_bill_amount,dusage_sum,dusage_min,dusage_max,...,vusage_offnet_sum,vusage_offnet_max,vusage_offnet_min,vusage_offnet_days,vusage_offnet_avg,vusage_offnet_stddev,number_of_fixed_bb_accounts,number_of_iptv_accounts,add_on_tot_rental,add_on_count
825,4G,Smartphone,FEMALE,Gampaha,20-30,78,1883.00,8098.0,16.484163,1193.490847,...,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,110.0,1.0
452,4G,Smartphone,MALE,Puttalam,20-30,74,1235.68,4805.0,0.000000,573.887156,...,203.0,36.200000,0.0,24.0,8.468056,8.451039,0.0,0.0,50.0,1.0
3175,4G,Smartphone,FEMALE,Colombo,20-30,54,4901.43,3065.0,0.000000,598.372708,...,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,160.0,2.0
8908,4G,Smartphone,MALE,Colombo,20-30,78,1442.65,13784.0,115.651798,854.164129,...,10.0,4.716667,0.0,7.0,1.542857,0.973741,0.0,0.0,1490.0,1.0
3484,4G,Smartphone,MALE,Matara,30-40,115,2538.34,6119.0,4.909788,1376.794269,...,4.0,4.116667,0.0,1.0,4.116667,0.751597,0.0,0.0,0.0,0.0

In [24]:
quan_pipeline = Pipeline([
    ('std_scaler', StandardScaler())
])

quan_transformed = quan_pipeline.fit_transform(X_train[data_quan_cols])

In [25]:
data_pipeline = ColumnTransformer([
    ('numerical', quan_pipeline, data_quan_cols),
    ('categorical', OneHotEncoder(), data_cat_cols),
    
])

train_data_processed = data_pipeline.fit_transform(X_train)

In [26]:
train_data_processed

array([[-0.19976851, -0.13366101, -0.29556044, ...,  0.        ,
         0.        ,  0.        ],
       [-0.25556159, -0.57975143, -0.50298003, ...,  0.        ,
         0.        ,  0.        ],
       [-0.53452702,  1.94644268, -0.6125792 , ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [ 0.24657618, -1.0374262 , -0.80563752, ...,  0.        ,
         0.        ,  0.        ],
       [-1.17614751, -0.75819587,  0.02259211, ...,  0.        ,
         0.        ,  0.        ],
       [-0.75769937, -0.19473209, -0.80563752, ...,  0.        ,
         0.        ,  0.        ]])

In [27]:
X_test.head()

,device_type,device_category,gender,district_name,age_group,network_stay,average_monthly_bill_amount,dusage_sum,dusage_min,dusage_max,...,vusage_offnet_sum,vusage_offnet_max,vusage_offnet_min,vusage_offnet_days,vusage_offnet_avg,vusage_offnet_stddev,number_of_fixed_bb_accounts,number_of_iptv_accounts,add_on_tot_rental,add_on_count
1085,4G,Smartphone,MALE,Gampaha,>70,197,1779.12,3323.0,0.000000,979.542162,...,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
363,4G,Smartphone,MALE,Kalutara,30-40,6,3090.40,20448.0,83.657084,1765.653071,...,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
3138,4G,Smartphone,MALE,Kalutara,>70,209,1221.33,5969.0,23.828087,457.254642,...,35.0,14.100000,0.0,8.0,4.397917,2.939344,0.0,0.0,0.0,0.0
8803,4G,Smartphone,MALE,Ampara,30-40,110,905.32,5799.0,1.819816,1971.909241,...,8.0,2.583333,0.0,4.0,2.112500,0.741921,0.0,0.0,0.0,0.0
2588,4G,Smartphone,MALE,Colombo,30-40,21,1481.54,26751.0,435.232862,2204.760595,...,1.0,1.116667,0.0,2.0,0.866667,0.229473,0.0,0.0,700.0,3.0

In [28]:
X_train.columns

Index(['device_type', 'device_category', 'gender', 'district_name',
       'age_group', 'network_stay', 'average_monthly_bill_amount',
       'dusage_sum', 'dusage_min', 'dusage_max', 'dusage_avg', 'dusage_days',
       'dusage_stddev', 'vusage_onnet_sum', 'vusage_onnet_max',
       'vusage_onnet_min', 'vusage_onnet_days', 'vusage_onnet_stddev',
       'vusage_offnet_sum', 'vusage_offnet_max', 'vusage_offnet_min',
       'vusage_offnet_days', 'vusage_offnet_avg', 'vusage_offnet_stddev',
       'number_of_fixed_bb_accounts', 'number_of_iptv_accounts',
       'add_on_tot_rental', 'add_on_count'],
      dtype='object')

In [29]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 517 entries, 1085 to 3521
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   device_type                  517 non-null    object
 1   device_category              517 non-null    object
 2   gender                       517 non-null    object
 3   district_name                517 non-null    object
 4   age_group                    517 non-null    object
 5   network_stay                 517 non-null    int64
 6   average_monthly_bill_amount  517 non-null    float64
 7   dusage_sum                   517 non-null    float64
 8   dusage_min                   517 non-null    float64
 9   dusage_max                   517 non-null    float64
 10  dusage_avg                   517 non-null    float64
 11  dusage_days                  517 non-null    float64
 12  dusage_stddev                517 non-null    float64
 13  vusage_onnet_sum             517 non-null    float64
 14  vusage_onnet_max             517 non-null    float64
 15  vusage_onnet_min             517 non-null    float64
 16  vusage_onnet_days            517 non-null    float64
 17  vusage_onnet_stddev          517 non-null    float64
 18  vusage_offnet_sum            517 non-null    float64
 19  vusage_offnet_max            517 non-null    float64
 20  vusage_offnet_min            517 non-null    float64
 21  vusage_offnet_days           517 non-null    float64
 22  vusage_offnet_avg            517 non-null    float64
 23  vusage_offnet_stddev         517 non-null    float64
 24  number_of_fixed_bb_accounts  517 non-null    float64
 25  number_of_iptv_accounts      517 non-null    float64
 26  add_on_tot_rental            517 non-null    float64
 27  add_on_count                 517 non-null    float64
dtypes: float64(22), int64(1), object(5)
memory usage: 117.1+ KB

In [30]:
test_data_processed = data_pipeline.transform(X_test)

In [31]:
test_data_processed

array([[ 1.4600758 , -0.20524828, -0.59632829, ...,  0.        ,
         0.        ,  1.        ],
       [-1.20404406,  0.69839976,  0.48234176, ...,  0.        ,
         0.        ,  0.        ],
       [ 1.62745506, -0.58964051, -0.42966196, ...,  0.        ,
         0.        ,  1.        ],
       ...,
       [-0.71585455, -0.54605965, -0.79429968, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.83240358, -0.73006541, -0.69685719, ...,  0.        ,
         0.        ,  0.        ],
       [-0.71585455, -0.54652137, -0.63487697, ...,  0.        ,
         0.        ,  0.        ]])

In [32]:
model = RandomForestClassifier()

In [33]:
model.fit(train_data_processed, Y_train)

RandomForestClassifier()

In [34]:
y_pred = model.predict(test_data_processed)

In [35]:
print(y_pred)

[5 6 2 1 2 1 3 3 1 1 4 1 5 5 1 5 5 3 6 1 1 7 3 5 1 1 6 1 1 5 1 1 1 3 5 1 4
 5 6 1 1 3 5 1 1 1 3 1 1 5 1 6 1 5 5 3 3 5 1 1 1 1 1 1 1 1 5 6 1 1 1 5 4 4
 1 6 1 1 3 5 1 1 1 1 1 1 3 4 3 3 3 1 1 6 4 1 3 6 1 1 2 6 1 5 1 1 1 1 3 6 1
 5 3 1 5 2 1 1 4 1 3 5 3 1 1 1 8 5 1 1 1 2 3 3 3 1 3 1 1 5 1 1 1 5 1 5 3 1
 5 6 3 8 1 3 1 1 1 1 1 4 3 2 1 6 3 1 5 8 5 1 3 8 4 1 3 1 1 1 1 2 3 4 1 6 5
 1 1 3 5 1 1 3 7 5 1 1 6 3 4 3 5 5 3 3 5 5 1 1 4 3 5 5 5 1 5 3 5 1 2 1 5 1
 5 5 3 3 1 5 5 5 1 5 1 5 1 1 1 3 5 1 3 1 5 3 1 1 1 3 1 5 1 5 1 3 5 1 3 4 1
 1 3 3 3 1 3 6 1 5 1 3 5 3 3 3 1 2 3 1 1 3 1 5 5 1 5 3 1 1 1 3 1 1 1 1 1 1
 5 3 1 3 1 6 1 3 1 1 1 1 4 1 1 4 1 3 3 1 1 3 3 3 3 4 3 3 1 1 4 1 8 1 3 1 3
 3 1 1 3 5 1 8 1 1 3 5 1 3 2 2 3 5 5 5 1 1 1 1 1 3 3 1 3 1 3 1 1 8 1 5 5 5
 5 4 1 3 3 1 5 3 1 5 5 1 7 3 5 5 1 1 5 5 1 3 5 1 3 5 5 3 1 1 6 1 3 1 1 1 6
 1 5 1 1 1 3 5 1 5 1 8 1 1 1 1 3 1 1 1 1 1 5 1 1 5 5 3 3 2 5 1 5 1 1 6 5 6
 1 3 5 5 1 1 1 1 4 1 5 5 2 3 1 3 3 1 1 3 1 1 5 5 3 3 1 1 1 5 7 1 3 3 1 5 1
 2 3 1 6 1 1 3 5 3 5 1 3 3 5 3 1 5 5 1 3 1 1 1 3 1 3 1 1 6 3 2 1 1 1 1 1]

In [36]:
confusion_matrix(Y_test, y_pred)

array([[154,   3,  17,   2,   5,   0,   0,   0],
       [ 46,   7,  10,   4,   0,   0,   0,   0],
       [ 23,   2,  51,   6,   3,   0,   0,   0],
       [  6,   0,  23,   4,   2,   0,   1,   0],
       [  5,   2,  10,   1,  53,   6,   0,   0],
       [  0,   0,   1,   2,  23,   8,   0,   2],
       [  0,   1,   0,   0,  10,   2,   2,   3],
       [  2,   0,   0,   0,   4,   7,   1,   3]])

In [37]:
# Getting f1 score
from sklearn.metrics import classification_report
print(classification_report(Y_test, y_pred))

              precision    recall  f1-score   support

           1       0.65      0.85      0.74       181
           2       0.47      0.10      0.17        67
           3       0.46      0.60      0.52        85
           4       0.21      0.11      0.15        36
           5       0.53      0.69      0.60        77
           6       0.35      0.22      0.27        36
           7       0.50      0.11      0.18        18
           8       0.38      0.18      0.24        17

    accuracy                           0.55       517
   macro avg       0.44      0.36      0.36       517
weighted avg       0.51      0.55      0.50       517

In [38]:
ran_for_params = {
    'n_estimators' : range(1,100),
    'criterion': ['gini', 'entropy'],
    'max_depth': range(1,10),
    'min_samples_leaf': range(1,10),
    'min_samples_split': range(1,10),
    'bootstrap' : [True, False]
}

In [39]:
random_forest_model = RandomForestClassifier()
model_rand_fors = RandomizedSearchCV(random_forest_model, ran_for_params, cv=5, n_jobs = -1, verbose = 1, n_iter = 1000)
model_rand_fors.fit(train_data_processed, Y_train)

Fitting 5 folds for each of 1000 candidates, totalling 5000 fits

/opt/anaconda3/envs/datastorm2/lib/python3.7/site-packages/sklearn/model_selection/_search.py:921: UserWarning: One or more of the test scores are non-finite: [       nan 0.45539715 0.51558045 0.4607943  0.44185336 0.45539715
 0.45549898 0.51812627 0.52606925 0.49144603 0.51527495 0.50977597
 0.47769857 0.48798371 0.52291242 0.48452138 0.44867617 0.51191446
 0.52464358 0.49623218 0.52566191 0.50346232 0.50824847 0.52556008
 0.50824847 0.51843177 0.52179226 0.4509165  0.48289206 0.45203666
 0.52545825 0.53004073 0.45437882 0.50142566 0.4811609  0.45468432
 0.50101833 0.50417515 0.49389002 0.51710794 0.52077393 0.48971487
 0.52077393 0.4212831  0.5188391  0.44460285 0.51670061 0.45702648
 0.48014257 0.51232179 0.45610998 0.47647658 0.47576375 0.47698574
 0.52016293 0.47953157 0.41985743 0.48401222 0.49297352        nan
 0.46568228 0.51720978 0.50661914 0.51160896 0.52698574 0.45600815
 0.53207739 0.450611   0.49470468        nan 0.45570265        nan
        nan 0.45661914 0.50366599        nan 0.51578411 0.4913442
 0.51171079 0.49185336 0.48839104 0.49327902 0.48065173 0.52688391
 0.52026477 0.45773931 0.4197556  0.51415479 0.42240326 0.51649695
 0.44928717 0.52046843 0.42199593        nan 0.47739308 0.50254582
 0.52800407 0.51517312        nan 0.47800407 0.49114053 0.45366599
 0.50468432 0.49226069 0.44562118 0.43309572 0.51425662 0.49083503
 0.50672098 0.52138493 0.52199593 0.47566191 0.52403259 0.48778004
 0.49562118 0.47433809 0.48431772 0.42291242 0.52169043 0.52342159
 0.49195519 0.45173116 0.52820774 0.4305499  0.50458248 0.44918534
 0.5287169  0.42107943 0.48757637 0.45702648 0.4395112  0.52698574
 0.50437882 0.41832994 0.44653768 0.52189409 0.51965377 0.5290224
 0.52199593 0.45947047 0.51466395        nan 0.47678208 0.45112016
 0.48503055        nan 0.42046843 0.51598778 0.49562118 0.47780041
 0.51680244 0.52423625 0.51476578 0.50346232 0.45845214 0.4895112
 0.51547862 0.51558045 0.45132383 0.52413442 0.44276986 0.51578411
 0.45050916        nan 0.50081466        nan 0.45784114 0.52525458
 0.45417515 0.42922607 0.51517312 0.4589613  0.44816701        nan
 0.41710794 0.45600815 0.51425662 0.45509165 0.48207739 0.45244399
 0.48849287 0.51201629 0.51415479 0.50529532 0.49613035 0.45590631
 0.45458248 0.51558045 0.47637475 0.42525458 0.45875764 0.51496945
 0.51364562 0.48380855        nan 0.52301426 0.45142566 0.5299389
        nan 0.52260692 0.5194501  0.50254582 0.47942974 0.50875764
 0.49551935 0.48065173 0.50448065 0.49307536 0.45040733 0.46303462
        nan 0.49114053 0.43309572 0.44490835 0.45305499 0.42443992
 0.51568228 0.45193483 0.52678208        nan 0.51894094 0.45702648
        nan 0.49755601        nan        nan 0.45264766 0.50224033
 0.51181263 0.52138493 0.49368635 0.42769857 0.52372709 0.50600815
 0.42219959 0.48788187 0.50274949 0.49602851 0.43289206 0.44867617
 0.42525458 0.45162933        nan 0.42189409 0.52189409 0.45274949
 0.44796334 0.46639511 0.51496945 0.51334012 0.52301426 0.50478615
 0.50397149 0.50224033 0.48360489 0.52708758 0.50193483 0.45560081
 0.50600815 0.45947047 0.50081466 0.51221996 0.49378819        nan
 0.48360489        nan 0.49460285 0.52718941 0.44847251        nan
 0.49725051 0.48105906 0.47647658 0.51894094 0.45651731 0.48798371
 0.44959267 0.52230143 0.45427699 0.41181263 0.40784114        nan
 0.45723014 0.49429735 0.49562118 0.51262729 0.52566191 0.52973523
 0.50336049 0.51558045 0.51496945 0.47464358 0.51619145 0.50498982
 0.50437882 0.48105906        nan 0.49551935 0.42515275 0.49582485
 0.52942974 0.42077393 0.44826884 0.51659878 0.45672098        nan
 0.38340122 0.52810591 0.51782077 0.42158859 0.41782077 0.45254582
 0.42606925 0.47851324 0.45101833 0.44175153 0.47800407 0.49144603
 0.45692464 0.52240326 0.50244399 0.47810591 0.41670061 0.48309572
 0.52810591 0.51466395 0.44551935 0.52301426 0.49399185 0.51507128
 0.43279022 0.51598778 0.44735234 0.49755601 0.52057026 0.45193483
 0.45       0.52718941 0.45885947 0.50529532 0.47810591 0.51466395
 0.50274949 0.51588595 0.51211813 0.44755601 0.44572301 0.50458248
 0.50376782 0.45661914 0.49093686 0.44806517 0.51568228 0.52688391
 0.45213849 0.50458248 0.51680244 0.51995927 0.49256619        nan
 0.52311609 0.52209776 0.44918534 0.4885947  0.51395112 0.45733198
 0.51415479 0.52841141 0.52016293 0.52566191 0.51211813        nan
 0.42413442 0.52698574        nan 0.45539715 0.50366599 0.45173116
 0.52046843 0.4913442  0.51802444        nan 0.51313646 0.50519348
 0.50458248 0.49399185 0.47912424        nan 0.52158859 0.45427699
 0.40631365        nan 0.46771894 0.52362525 0.44867617 0.51354379
 0.51272912 0.52606925 0.51334012 0.52026477 0.50183299 0.52342159
 0.51293279 0.4607943  0.48696538 0.50560081        nan 0.47922607
 0.45916497 0.46639511 0.45193483 0.47474542 0.41843177 0.49348269
 0.49317719        nan 0.51120163 0.52250509 0.50794297 0.48319756
 0.52382892 0.52820774 0.48319756 0.49714868        nan 0.49266802
 0.42494908 0.51334012 0.41904277 0.52189409 0.50651731 0.50631365
 0.47729124 0.51690428 0.4910387  0.50152749 0.51812627 0.50305499
 0.45784114 0.51527495 0.45488798        nan        nan 0.45071283
 0.51476578 0.52973523 0.52189409        nan 0.44643585 0.4598778
 0.45570265 0.49093686 0.51690428 0.48778004 0.48900204 0.48696538
 0.48910387 0.52718941 0.52260692 0.44725051        nan 0.51252546
 0.44989817 0.48187373 0.47698574 0.46099796 0.47179226 0.50560081
 0.45173116 0.49480652 0.47953157 0.51374745        nan 0.50152749
 0.43411405 0.45203666 0.51201629 0.43564155 0.49439919 0.42118126
 0.50325866 0.47596741 0.52199593 0.52606925 0.51425662 0.47698574
 0.42637475 0.52617108 0.50234216 0.4811609  0.47841141 0.45315682
 0.47657841        nan 0.52627291 0.45763747 0.45549898        nan
 0.49164969 0.49154786 0.52301426 0.52790224 0.45427699 0.48370672
 0.46639511 0.4503055  0.47596741 0.45071283        nan 0.45132383
 0.42688391 0.42454175 0.52515275 0.45773931        nan        nan
 0.45234216 0.51008147 0.52230143 0.51466395 0.46069246 0.42464358
 0.50580448 0.49490835 0.42556008 0.49276986        nan        nan
 0.4700611  0.45560081        nan 0.52403259 0.49358452 0.50254582
 0.51242363 0.49837067        nan 0.51496945        nan        nan
 0.52637475        nan 0.52179226 0.5203666  0.45814664 0.4496945
 0.41659878 0.47769857 0.52250509 0.41751527        nan 0.42393075
 0.51313646 0.44694501 0.45560081 0.52637475 0.52566191 0.4503055
 0.4694501  0.45020367 0.49276986 0.50386965 0.49266802 0.42219959
 0.51792261 0.49857434 0.49175153 0.45295316        nan 0.4509165
 0.52270876 0.451222   0.4712831  0.47199593 0.45173116 0.50305499
 0.51120163        nan 0.44837067 0.47556008 0.45112016 0.4901222
 0.48014257        nan        nan 0.45712831 0.51456212 0.51476578
        nan 0.51507128 0.48126273 0.45427699 0.51374745 0.45621181
 0.49450102 0.44276986 0.52647658 0.51181263 0.49002037 0.50376782
 0.47576375 0.48940937        nan 0.451222   0.45906314 0.52230143
 0.51731161        nan 0.52556008 0.5089613  0.48727088 0.51415479
 0.51272912 0.52606925 0.50274949 0.49002037 0.47545825 0.42118126
 0.49093686 0.42443992 0.42525458 0.49114053 0.4811609  0.52912424
 0.49847251 0.47596741 0.45702648        nan 0.50875764 0.42586558
 0.48472505 0.45682281 0.51619145 0.51374745 0.52688391 0.45173116
 0.52046843 0.4990835  0.47556008        nan 0.50997963 0.49338086
 0.52046843 0.52270876 0.50794297 0.48258656        nan 0.52535642
 0.49460285 0.49327902 0.45       0.52830957 0.43503055 0.48156823
 0.50040733 0.44918534 0.51008147        nan 0.50325866 0.49256619
        nan 0.45631365 0.52311609 0.41863544        nan        nan
 0.48126273 0.52729124 0.52443992 0.50427699 0.47780041        nan
 0.42321792 0.4197556         nan 0.45743381 0.44816701 0.47912424
 0.49307536 0.51201629        nan 0.47718941 0.42393075 0.52606925
 0.45193483 0.52189409        nan 0.49949084 0.49317719        nan
 0.38737271 0.49572301 0.50672098 0.49847251 0.51731161 0.49653768
 0.51659878 0.44531568 0.51639511 0.48900204 0.48849287 0.48553971
 0.52362525 0.52179226        nan 0.52087576 0.52841141 0.52841141
 0.42382892 0.4996945  0.47637475 0.45997963 0.45274949 0.42790224
 0.50173116 0.45325866 0.50417515 0.45050916 0.4413442  0.52342159
 0.45600815 0.45519348 0.49409369 0.44979633        nan 0.46283096
 0.52556008 0.50213849 0.45234216 0.40835031 0.44816701 0.48014257
 0.42494908 0.45132383 0.4996945  0.51578411 0.5203666  0.46089613
 0.51262729 0.51832994 0.50488798 0.45244399 0.43360489 0.48431772
        nan        nan 0.49389002 0.52739308 0.37331976 0.45621181
 0.42606925 0.49562118 0.50081466 0.48136456 0.45672098 0.44898167
 0.45458248 0.49847251 0.45071283 0.44847251 0.49439919 0.4490835
 0.51303462 0.45977597 0.47922607 0.47830957 0.52260692 0.51252546
 0.51446029 0.51272912 0.52026477 0.51252546 0.50723014 0.48177189
 0.4293279  0.51751527 0.51659878 0.41201629 0.52352342 0.45274949
 0.50274949 0.50651731 0.47790224 0.52759674        nan 0.51659878
 0.48167006 0.51995927 0.49032587 0.51710794        nan 0.39083503
        nan 0.52515275 0.48044807 0.50692464 0.51863544        nan
 0.50356415 0.41568228 0.52301426 0.49949084 0.42505092 0.45885947
 0.52739308 0.51812627 0.51089613 0.45692464 0.52209776 0.47769857
 0.45040733 0.51344196 0.52281059 0.45376782        nan 0.45549898
 0.48431772 0.50305499 0.44643585 0.52281059 0.49164969 0.46130346
 0.42576375 0.500611   0.50224033 0.49378819        nan 0.45162933
 0.50274949 0.48767821 0.52657841 0.46008147        nan        nan
 0.52169043 0.45234216 0.51955193 0.4395112  0.51792261 0.47942974
 0.45621181 0.51588595 0.45132383 0.47403259 0.52780041        nan
 0.46008147 0.51476578 0.47841141 0.42158859 0.51099796 0.51527495
 0.49429735 0.47494908 0.4796334  0.4814664  0.38808554 0.51690428
 0.44429735 0.52311609 0.4203666  0.51629328 0.48513238 0.45509165
 0.41619145 0.4293279  0.45529532 0.52077393 0.52525458 0.451222
 0.52107943        nan        nan 0.52057026 0.4910387  0.45794297
 0.43289206        nan 0.51507128 0.48757637 0.41782077 0.48472505
 0.49114053 0.45458248 0.52087576        nan 0.47749491 0.52443992
 0.52301426 0.45610998        nan 0.45295316 0.52250509 0.51201629
 0.42474542 0.41863544 0.44816701 0.41059063 0.4790224  0.46313646
        nan 0.52484725        nan 0.50407332 0.41272912 0.51558045
 0.45570265        nan        nan 0.45875764 0.41568228        nan
 0.4604888  0.48991853 0.51527495 0.50733198        nan 0.52586558
 0.52739308 0.49480652 0.50315682 0.4095723  0.51395112 0.50835031
 0.52830957        nan        nan 0.50509165 0.50610998        nan
 0.45437882 0.52331976 0.45590631 0.48268839 0.49205703 0.47545825
 0.44185336 0.49857434 0.52800407 0.48217923 0.45325866 0.51211813
 0.48329939 0.51843177 0.44755601 0.40285132        nan 0.52830957
 0.49541752 0.45285132        nan 0.52230143 0.49551935 0.5293279
 0.51150713 0.51425662 0.50101833 0.48421589 0.52087576 0.5107943
 0.51507128 0.49429735 0.47545825 0.43727088 0.48716904 0.4509165
 0.40570265 0.46099796 0.48004073        nan 0.49154786        nan
 0.43167006 0.5110998  0.48136456 0.51354379        nan 0.45621181
 0.51843177 0.45672098        nan 0.45804481 0.50244399        nan
 0.45050916 0.52169043 0.44867617        nan 0.50274949 0.50285132
 0.45336049 0.4700611  0.45386965 0.45427699 0.45356415 0.45203666
 0.48075356 0.45610998 0.40814664 0.49297352]
  category=UserWarning

RandomizedSearchCV(cv=5, estimator=RandomForestClassifier(), n_iter=1000,
                   n_jobs=-1,
                   param_distributions={'bootstrap': [True, False],
                                        'criterion': ['gini', 'entropy'],
                                        'max_depth': range(1, 10),
                                        'min_samples_leaf': range(1, 10),
                                        'min_samples_split': range(1, 10),
                                        'n_estimators': range(1, 100)},
                   verbose=1)

In [40]:
model_rand_fors.best_params_

{'n_estimators': 94,
 'min_samples_split': 4,
 'min_samples_leaf': 4,
 'max_depth': 9,
 'criterion': 'entropy',
 'bootstrap': False}

In [41]:
model_rand_fors.best_score_

0.5320773930753564

In [42]:
tuned_model = RandomForestClassifier(n_estimators = 94, min_samples_split = 4,min_samples_leaf =  4,
                                     max_depth = 9, criterion = 'entropy', bootstrap = False)

In [43]:
tuned_model.fit(train_data_processed, Y_train)

RandomForestClassifier(bootstrap=False, criterion='entropy', max_depth=9,
                       min_samples_leaf=4, min_samples_split=4,
                       n_estimators=94)

In [44]:
y_pred = tuned_model.predict(test_data_processed)

In [45]:
# Getting f1 score
from sklearn.metrics import classification_report
print(classification_report(Y_test, y_pred))

              precision    recall  f1-score   support

           1       0.60      0.86      0.70       181
           2       1.00      0.01      0.03        67
           3       0.41      0.58      0.48        85
           4       0.00      0.00      0.00        36
           5       0.50      0.77      0.61        77
           6       0.11      0.03      0.04        36
           7       0.50      0.06      0.10        18
           8       0.38      0.18      0.24        17

    accuracy                           0.52       517
   macro avg       0.44      0.31      0.28       517
weighted avg       0.52      0.52      0.43       517