# Best Score -> 0.39729


> Indented block

## Import the needed libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn import preprocessing
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler #you can use minmax scaler too
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
import xgboost as xgb
from imblearn.ensemble import BalancedBaggingClassifier
from imblearn.under_sampling import NearMiss
from imblearn.under_sampling import TomekLinks
from xgboost import XGBClassifier

/usr/local/lib/python3.7/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.ensemble.bagging module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.ensemble. Anything that cannot be imported from sklearn.ensemble is now part of the private API.
  warnings.warn(message, FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.ensemble.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.ensemble. Anything that cannot be imported from sklearn.ensemble is now part of the private API.
  warnings.warn(message, FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.ensemble.forest module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.ensemble. Anything that cannot be imported from sklearn.ensemble is now part of the private API.
  warnings.warn(message, FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

## Import the training data

In [132]:
train_data = pd.read_csv("/content/train_dataset.csv")

FileNotFoundError: ignored

In [3]:
train_data.tail()

       primary_identifier device_type  ... add_on_count next_month_plan
10495             1438655          4G  ...          NaN            PKG6
10496             7827264          4G  ...          3.0            PKG1
10497             1433957          4G  ...          NaN            PKG6
10498             8494507          4G  ...          NaN            PKG1
10499             3569439          3G  ...          NaN            PKG1

[5 rows x 33 columns]

## Encoding Labels

In [4]:
train_data['next_month_plan'] = train_data['next_month_plan'].astype('category')

In [5]:
train_data['next_month_plan'].unique()

['PKG2', 'PKG1', 'PKG6', 'PKG4', 'PKG5', 'PKG3', 'PKG8', 'PKG7']
Categories (8, object): ['PKG2', 'PKG1', 'PKG6', 'PKG4', 'PKG5', 'PKG3', 'PKG8', 'PKG7']

In [6]:
labels_x = ['PKG0','PKG1', 'PKG2', 'PKG3', 'PKG4', 'PKG5', 'PKG6', 'PKG7', 'PKG8']

In [7]:
le = preprocessing.LabelEncoder()

In [8]:
le.fit(labels_x)

LabelEncoder()

In [9]:
le.classes_

array(['PKG0', 'PKG1', 'PKG2', 'PKG3', 'PKG4', 'PKG5', 'PKG6', 'PKG7',
       'PKG8'], dtype='<U4')

In [10]:
train_data['encoded_class_labels'] = le.transform(train_data['next_month_plan'])

In [11]:
train_data = train_data.drop(columns=['next_month_plan'])

In [12]:
train_data.head(20)

    primary_identifier device_type  ... add_on_count encoded_class_labels
0              6875768          4G  ...          NaN                    2
1              6406277          4G  ...          2.0                    1
2              3563570          4G  ...          1.0                    6
3              1853666          4G  ...          2.0                    4
4              2794331          4G  ...          2.0                    4
5              3619017          2G  ...          NaN                    1
6              7633257          4G  ...          1.0                    5
7              5507217          4G  ...          1.0                    5
8              7566055          4G  ...          1.0                    2
9              7324903          4G  ...          2.0                    2
10             4058040          4G  ...          2.0                    3
11             9835417          4G  ...          1.0                    1
12             8104537          4G  ...          NaN                    5
13             6937092          2G  ...          NaN                    1
14             3515441          3G  ...          NaN                    1
15             1254707          4G  ...          1.0                    3
16             5038603          4G  ...          NaN                    2
17             3037770          2G  ...          NaN                    1
18             4669431          4G  ...          5.0                    3
19             8683145          4G  ...          NaN                    2

[20 rows x 33 columns]

## Handling Missing Values

In [13]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10500 entries, 0 to 10499
Data columns (total 33 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   primary_identifier           10500 non-null  int64
 1   device_type                  10477 non-null  object
 2   device_category              10470 non-null  object
 3   gender                       10365 non-null  object
 4   district_name                10500 non-null  object
 5   age_group                    10365 non-null  object
 6   network_stay                 10500 non-null  int64
 7   average_monthly_bill_amount  10500 non-null  float64
 8   dusage_sum                   10500 non-null  int64
 9   dusage_min                   10500 non-null  float64
 10  dusage_max                   10500 non-null  float64
 11  dusage_diff                  10500 non-null  float64
 12  dusage_avg                   9642 non-null   float64
 13  dusage_days                  10500 non-null  int64
 14  dusage_stddev                10500 non-null  float64
 15  vusage_onnet_sum             10500 non-null  int64
 16  vusage_onnet_max             10500 non-null  float64
 17  vusage_onnet_min             10500 non-null  int64
 18  vusage_onnet_diff            10500 non-null  float64
 19  vusage_onnet_days            10500 non-null  int64
 20  vusage_onnet_avg             1828 non-null   float64
 21  vusage_onnet_stddev          10500 non-null  float64
 22  vusage_offnet_sum            10500 non-null  int64
 23  vusage_offnet_max            10500 non-null  float64
 24  vusage_offnet_min            10500 non-null  float64
 25  vusage_offnet_days           10500 non-null  int64
 26  vusage_offnet_avg            7187 non-null   float64
 27  vusage_offnet_stddev         10500 non-null  float64
 28  number_of_fixed_bb_accounts  10500 non-null  int64
 29  number_of_iptv_accounts      10500 non-null  int64
 30  add_on_tot_rental            6667 non-null   float64
 31  add_on_count                 6667 non-null   float64
 32  encoded_class_labels         10500 non-null  int64
dtypes: float64(16), int64(12), object(5)
memory usage: 2.6+ MB

In [14]:
train_data['device_category'].unique()

array(['Smartphone', 'Basic', 'Feature phone', 'Pluggable card', 'Tablet',
       nan, 'Modem'], dtype=object)

In [15]:
train_data['device_type'] = train_data['device_type'].fillna(value = 'Unknown')
train_data['device_category'] = train_data['device_category'].fillna(value = 'Unknown')
train_data['gender'] = train_data['gender'].fillna(value = 'Unknown')
train_data['age_group'] = train_data['age_group'].fillna(value = 'Unknown')

In [16]:
train_data['dusage_avg'] = train_data['dusage_avg'].fillna(value = 0)
train_data['vusage_offnet_avg'] = train_data['vusage_offnet_avg'].fillna(value = 0)
train_data['add_on_tot_rental'] = train_data['add_on_tot_rental'].fillna(value = 0)
train_data['add_on_count'] = train_data['add_on_count'].fillna(value = 0)
train_data['vusage_onnet_avg'] = train_data['vusage_onnet_avg'].fillna(value = 0)

In [17]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10500 entries, 0 to 10499
Data columns (total 33 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   primary_identifier           10500 non-null  int64
 1   device_type                  10500 non-null  object
 2   device_category              10500 non-null  object
 3   gender                       10500 non-null  object
 4   district_name                10500 non-null  object
 5   age_group                    10500 non-null  object
 6   network_stay                 10500 non-null  int64
 7   average_monthly_bill_amount  10500 non-null  float64
 8   dusage_sum                   10500 non-null  int64
 9   dusage_min                   10500 non-null  float64
 10  dusage_max                   10500 non-null  float64
 11  dusage_diff                  10500 non-null  float64
 12  dusage_avg                   10500 non-null  float64
 13  dusage_days                  10500 non-null  int64
 14  dusage_stddev                10500 non-null  float64
 15  vusage_onnet_sum             10500 non-null  int64
 16  vusage_onnet_max             10500 non-null  float64
 17  vusage_onnet_min             10500 non-null  int64
 18  vusage_onnet_diff            10500 non-null  float64
 19  vusage_onnet_days            10500 non-null  int64
 20  vusage_onnet_avg             10500 non-null  float64
 21  vusage_onnet_stddev          10500 non-null  float64
 22  vusage_offnet_sum            10500 non-null  int64
 23  vusage_offnet_max            10500 non-null  float64
 24  vusage_offnet_min            10500 non-null  float64
 25  vusage_offnet_days           10500 non-null  int64
 26  vusage_offnet_avg            10500 non-null  float64
 27  vusage_offnet_stddev         10500 non-null  float64
 28  number_of_fixed_bb_accounts  10500 non-null  int64
 29  number_of_iptv_accounts      10500 non-null  int64
 30  add_on_tot_rental            10500 non-null  float64
 31  add_on_count                 10500 non-null  float64
 32  encoded_class_labels         10500 non-null  int64
dtypes: float64(16), int64(12), object(5)
memory usage: 2.6+ MB

In [18]:
train_data = train_data.drop(columns=['network_stay','dusage_min','dusage_max','vusage_onnet_max','vusage_onnet_min'])

## Creating pre-processing pipeline

In [19]:
train_data.columns

Index(['primary_identifier', 'device_type', 'device_category', 'gender',
       'district_name', 'age_group', 'average_monthly_bill_amount',
       'dusage_sum', 'dusage_diff', 'dusage_avg', 'dusage_days',
       'dusage_stddev', 'vusage_onnet_sum', 'vusage_onnet_diff',
       'vusage_onnet_days', 'vusage_onnet_avg', 'vusage_onnet_stddev',
       'vusage_offnet_sum', 'vusage_offnet_max', 'vusage_offnet_min',
       'vusage_offnet_days', 'vusage_offnet_avg', 'vusage_offnet_stddev',
       'number_of_fixed_bb_accounts', 'number_of_iptv_accounts',
       'add_on_tot_rental', 'add_on_count', 'encoded_class_labels'],
      dtype='object')

In [20]:
data_cat_cols = ['device_type', 'device_category', 'gender', 'district_name', 'age_group']

In [30]:
data_quan_cols = ['average_monthly_bill_amount', 'dusage_sum', 
                   'dusage_diff','dusage_avg', 'dusage_days', 
                  'dusage_stddev', 'vusage_onnet_sum','vusage_onnet_diff', 
                  'vusage_onnet_days', 'vusage_onnet_avg',
                  'vusage_onnet_stddev', 'vusage_offnet_sum', 'vusage_offnet_max',
                  'vusage_offnet_min', 'vusage_offnet_days', 'vusage_offnet_avg',
                  'vusage_offnet_stddev', 'number_of_fixed_bb_accounts','number_of_iptv_accounts', 
                  'add_on_tot_rental', 'add_on_count']

In [31]:
X = train_data.drop(columns=['encoded_class_labels', 'primary_identifier'])

#### Dropping columns selected by Feature selection

In [ ]:
columns_remove = ['network_stay', 'dusage_max']

In [ ]:
# for col in columns_remove:
#     data_quan_cols.remove(col)

In [ ]:
#X = X.drop(columns=columns_remove)

In [32]:
X.columns

Index(['device_type', 'device_category', 'gender', 'district_name',
       'age_group', 'average_monthly_bill_amount', 'dusage_sum', 'dusage_diff',
       'dusage_avg', 'dusage_days', 'dusage_stddev', 'vusage_onnet_sum',
       'vusage_onnet_diff', 'vusage_onnet_days', 'vusage_onnet_avg',
       'vusage_onnet_stddev', 'vusage_offnet_sum', 'vusage_offnet_max',
       'vusage_offnet_min', 'vusage_offnet_days', 'vusage_offnet_avg',
       'vusage_offnet_stddev', 'number_of_fixed_bb_accounts',
       'number_of_iptv_accounts', 'add_on_tot_rental', 'add_on_count'],
      dtype='object')

In [33]:
y = train_data['encoded_class_labels']

In [34]:
X_train, X_test, Y_train, Y_test = train_test_split(X, y, random_state=10, test_size = 0.05, stratify = y)

In [35]:
X_train.head(20)

     device_type device_category  ... add_on_tot_rental add_on_count
6155          4G      Smartphone  ...             360.0          2.0
2288          4G      Smartphone  ...               0.0          0.0
9714          4G      Smartphone  ...               0.0          0.0
7157          4G      Smartphone  ...             360.0          2.0
738           4G      Smartphone  ...            1500.0          1.0
490           4G      Smartphone  ...             650.0          1.0
467           4G      Smartphone  ...             110.0          2.0
6161          4G      Smartphone  ...               0.0          0.0
1343          4G      Smartphone  ...               0.0          0.0
5792          4G      Smartphone  ...             600.0          2.0
9711          4G      Smartphone  ...              40.0          1.0
8101          4G      Smartphone  ...             520.0          3.0
2582          4G      Smartphone  ...             410.0          2.0
3711          4G      Smartphone  ...             200.0          1.0
2789          2G   Feature phone  ...               0.0          0.0
5569          4G      Smartphone  ...               0.0          1.0
3744          4G      Smartphone  ...             350.0          1.0
714           2G           Basic  ...               0.0          0.0
7060          4G      Smartphone  ...             800.0          3.0
6213          4G      Smartphone  ...               0.0          0.0

[20 rows x 26 columns]

In [36]:
X_train['age_group'].unique()

array(['60-70', '20-30', '40-50', '50-60', '30-40', '>70', 'Unknown',
       '<20'], dtype=object)

In [37]:
X_train.shape

(9975, 26)

In [38]:
quan_pipeline = Pipeline([
    ('std_scaler', StandardScaler())
])

quan_transformed = quan_pipeline.fit_transform(X_train[data_quan_cols])

In [39]:
data_pipeline = ColumnTransformer([
    ('numerical', quan_pipeline, data_quan_cols),
    ('categorical', OneHotEncoder(handle_unknown = 'ignore'), data_cat_cols),
    
])

train_data_processed = data_pipeline.fit_transform(X_train)

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

num_attribs = list(housing_num)
cat_attribs = list(housing_cat)

num_pipeline = Pipeline([
         
         ('attribs_adder', FunctionTransformer(add_extra_features, validate=False)),
         ('imputer', SimpleImputer(strategy="median")),
         ('std_scaler', StandardScaler())
    ])
full_pipeline = ColumnTransformer([
        ("num", num_pipeline, num_attribs),
        (cat_attribs),
    ])

housing_prepared = full_pipeline.fit_transform(housing_date1)

In [40]:
train_data_processed[0]

array([-0.84948216,  1.34223453, -0.00532918,  1.2518874 ,  0.53621625,
        0.16788833, -0.18788699, -0.2600062 , -0.28080456, -0.27565714,
       -0.24650206, -0.47954691, -0.5031088 , -0.06635089, -0.42126523,
       -0.4872795 , -0.53776094,  4.00769298,  3.49200503,  0.0538823 ,
        0.60012268,  0.        ,  0.        ,  1.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  1.        ,
        0.        ,  0.        ,  0.        ,  1.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  1.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        1.        ,  0.        ,  0.        ,  0.        ])

In [41]:
X_test.head()

     device_type device_category  ... add_on_tot_rental add_on_count
231           4G      Smartphone  ...             250.0          1.0
9966          4G      Smartphone  ...               0.0          0.0
486           4G      Smartphone  ...             760.0          2.0
9686          4G      Smartphone  ...               0.0          0.0
6310          4G      Smartphone  ...             450.0          2.0

[5 rows x 26 columns]

In [42]:
X_train.columns

Index(['device_type', 'device_category', 'gender', 'district_name',
       'age_group', 'average_monthly_bill_amount', 'dusage_sum', 'dusage_diff',
       'dusage_avg', 'dusage_days', 'dusage_stddev', 'vusage_onnet_sum',
       'vusage_onnet_diff', 'vusage_onnet_days', 'vusage_onnet_avg',
       'vusage_onnet_stddev', 'vusage_offnet_sum', 'vusage_offnet_max',
       'vusage_offnet_min', 'vusage_offnet_days', 'vusage_offnet_avg',
       'vusage_offnet_stddev', 'number_of_fixed_bb_accounts',
       'number_of_iptv_accounts', 'add_on_tot_rental', 'add_on_count'],
      dtype='object')

In [43]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 525 entries, 231 to 229
Data columns (total 26 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   device_type                  525 non-null    object
 1   device_category              525 non-null    object
 2   gender                       525 non-null    object
 3   district_name                525 non-null    object
 4   age_group                    525 non-null    object
 5   average_monthly_bill_amount  525 non-null    float64
 6   dusage_sum                   525 non-null    int64
 7   dusage_diff                  525 non-null    float64
 8   dusage_avg                   525 non-null    float64
 9   dusage_days                  525 non-null    int64
 10  dusage_stddev                525 non-null    float64
 11  vusage_onnet_sum             525 non-null    int64
 12  vusage_onnet_diff            525 non-null    float64
 13  vusage_onnet_days            525 non-null    int64
 14  vusage_onnet_avg             525 non-null    float64
 15  vusage_onnet_stddev          525 non-null    float64
 16  vusage_offnet_sum            525 non-null    int64
 17  vusage_offnet_max            525 non-null    float64
 18  vusage_offnet_min            525 non-null    float64
 19  vusage_offnet_days           525 non-null    int64
 20  vusage_offnet_avg            525 non-null    float64
 21  vusage_offnet_stddev         525 non-null    float64
 22  number_of_fixed_bb_accounts  525 non-null    int64
 23  number_of_iptv_accounts      525 non-null    int64
 24  add_on_tot_rental            525 non-null    float64
 25  add_on_count                 525 non-null    float64
dtypes: float64(13), int64(8), object(5)
memory usage: 110.7+ KB

In [44]:
test_data_processed = data_pipeline.transform(X_test)

In [45]:
test_data_processed

array([[-0.24995533, -0.01257233,  0.28025057, ...,  0.        ,
         0.        ,  0.        ],
       [-0.74548779, -0.74031586, -0.61658146, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.97177507,  0.62242452, -0.0120146 , ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [-1.09860764, -0.80680636, -0.76582097, ...,  0.        ,
         0.        ,  0.        ],
       [-0.31827705, -0.75807185, -0.66589201, ...,  0.        ,
         1.        ,  0.        ],
       [-0.92795926, -0.74037883, -0.69109345, ...,  0.        ,
         0.        ,  0.        ]])

### Loading Submission data

In [77]:
submission_data = pd.read_csv("/content/test_dataset_v2.csv")

In [78]:
submission_data.head()

   primary_identifier device_type  ... add_on_tot_rental add_on_count
0             2003793          4G  ...               NaN          NaN
1             1776101          4G  ...               NaN          NaN
2             6945050          2G  ...             110.0          2.0
3             2472049          4G  ...               NaN          NaN
4             7197266          4G  ...             350.0          1.0

[5 rows x 32 columns]

## Handling missing values in submission data

In [79]:
submission_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4500 entries, 0 to 4499
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   primary_identifier           4500 non-null   int64
 1   device_type                  4487 non-null   object
 2   device_category              4484 non-null   object
 3   gender                       4445 non-null   object
 4   district_name                4500 non-null   object
 5   age_group                    4445 non-null   object
 6   network_stay                 4500 non-null   int64
 7   average_monthly_bill_amount  4500 non-null   float64
 8   dusage_sum                   4500 non-null   int64
 9   dusage_min                   4500 non-null   float64
 10  dusage_max                   4500 non-null   float64
 11  dusage_diff                  4500 non-null   float64
 12  dusage_avg                   4136 non-null   float64
 13  dusage_days                  4500 non-null   int64
 14  dusage_stddev                4500 non-null   float64
 15  vusage_onnet_sum             4500 non-null   int64
 16  vusage_onnet_max             4500 non-null   float64
 17  vusage_onnet_min             4500 non-null   float64
 18  vusage_onnet_diff            4500 non-null   float64
 19  vusage_onnet_days            4500 non-null   int64
 20  vusage_onnet_avg             785 non-null    float64
 21  vusage_onnet_stddev          4500 non-null   float64
 22  vusage_offnet_sum            4500 non-null   int64
 23  vusage_offnet_max            4500 non-null   float64
 24  vusage_offnet_min            4500 non-null   float64
 25  vusage_offnet_days           4500 non-null   int64
 26  vusage_offnet_avg            3074 non-null   float64
 27  vusage_offnet_stddev         4500 non-null   float64
 28  number_of_fixed_bb_accounts  4500 non-null   int64
 29  number_of_iptv_accounts      4500 non-null   int64
 30  add_on_tot_rental            2788 non-null   float64
 31  add_on_count                 2788 non-null   float64
dtypes: float64(17), int64(10), object(5)
memory usage: 1.1+ MB

In [80]:
submission_data['device_category'].unique()

array(['Smartphone', 'Basic', 'Feature phone', 'M2M', nan, 'Tablet',
       'Pluggable card', 'Modem'], dtype=object)

In [81]:
submission_data['device_type'] = submission_data['device_type'].fillna(value = 'Unknown')
submission_data['device_category'] = submission_data['device_category'].fillna(value = 'Unknown')
submission_data['gender'] = submission_data['gender'].fillna(value = 'Unknown')
submission_data['age_group'] = submission_data['age_group'].fillna(value = 'Unknown')

In [ ]:
#submission_data = submission_data.drop(columns = ['vusage_onnet_avg'])

In [ ]:
#submission_data = submission_data.drop(columns = columns_remove)

In [82]:
submission_data['dusage_avg'] = submission_data['dusage_avg'].fillna(value = 0)
submission_data['vusage_offnet_avg'] = submission_data['vusage_offnet_avg'].fillna(value = 0)
submission_data['add_on_tot_rental'] = submission_data['add_on_tot_rental'].fillna(value = 0)
submission_data['add_on_count'] = submission_data['add_on_count'].fillna(value = 0)
submission_data['vusage_onnet_avg'] = submission_data['vusage_onnet_avg'].fillna(value = 0)

In [83]:
submission_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4500 entries, 0 to 4499
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   primary_identifier           4500 non-null   int64
 1   device_type                  4500 non-null   object
 2   device_category              4500 non-null   object
 3   gender                       4500 non-null   object
 4   district_name                4500 non-null   object
 5   age_group                    4500 non-null   object
 6   network_stay                 4500 non-null   int64
 7   average_monthly_bill_amount  4500 non-null   float64
 8   dusage_sum                   4500 non-null   int64
 9   dusage_min                   4500 non-null   float64
 10  dusage_max                   4500 non-null   float64
 11  dusage_diff                  4500 non-null   float64
 12  dusage_avg                   4500 non-null   float64
 13  dusage_days                  4500 non-null   int64
 14  dusage_stddev                4500 non-null   float64
 15  vusage_onnet_sum             4500 non-null   int64
 16  vusage_onnet_max             4500 non-null   float64
 17  vusage_onnet_min             4500 non-null   float64
 18  vusage_onnet_diff            4500 non-null   float64
 19  vusage_onnet_days            4500 non-null   int64
 20  vusage_onnet_avg             4500 non-null   float64
 21  vusage_onnet_stddev          4500 non-null   float64
 22  vusage_offnet_sum            4500 non-null   int64
 23  vusage_offnet_max            4500 non-null   float64
 24  vusage_offnet_min            4500 non-null   float64
 25  vusage_offnet_days           4500 non-null   int64
 26  vusage_offnet_avg            4500 non-null   float64
 27  vusage_offnet_stddev         4500 non-null   float64
 28  number_of_fixed_bb_accounts  4500 non-null   int64
 29  number_of_iptv_accounts      4500 non-null   int64
 30  add_on_tot_rental            4500 non-null   float64
 31  add_on_count                 4500 non-null   float64
dtypes: float64(17), int64(10), object(5)
memory usage: 1.1+ MB

In [84]:
prim_id = submission_data['primary_identifier']

In [88]:
submission_data = submission_data.drop(columns=['network_stay','dusage_min','dusage_max','vusage_onnet_max','vusage_onnet_min'])

In [89]:
submission_data.shape

(4500, 27)

In [90]:
submission_X = submission_data.drop(columns=['primary_identifier'])

In [91]:
submission_X.shape

(4500, 26)

## Pre-processing the submission data

In [92]:
submission_data_processed = data_pipeline.transform(submission_X)

In [93]:
submission_data_processed[0].shape

(69,)

## Model Code

In [46]:
Y_train.unique()

array([1, 6, 8, 3, 7, 5, 4, 2])

In [47]:
unique, counts = np.unique(Y_train, return_counts=True)

In [48]:
dict(zip(unique, counts))

{1: 3490, 2: 1286, 3: 1631, 4: 698, 5: 1480, 6: 703, 7: 346, 8: 341}

In [49]:
3490*0.13

453.7

In [50]:
strategy = {
    1: 3490,
    2: 1250,
    3: 1600,
    4: 698,
    5: 1450,
    6: 700,
    7: 346,
    8: 341
}

In [51]:
undersample = NearMiss(sampling_strategy=strategy,n_neighbors=2)

In [52]:
X_near , y_near = undersample.fit_resample(train_data_processed,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [53]:
X_near.shape

(9875, 69)

In [54]:
unique, counts = np.unique(y_near, return_counts=True)
dict(zip(unique, counts))

{1: 3490, 2: 1250, 3: 1600, 4: 698, 5: 1450, 6: 700, 7: 346, 8: 341}

### Oversampling

In [55]:
strategy_os = {
    1: 3490,
    2: 1250,
    3: 1600,
    4: 698,
    5: 1450,
    6: 700,
    7: 700,
    8: 700
}

In [56]:
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state=42, sampling_strategy = strategy_os)
X_res, y_res = sm.fit_resample(X_near, y_near)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [57]:
X_res.shape

(10588, 69)

In [58]:
unique, counts = np.unique(y_res, return_counts=True)
dict(zip(unique, counts))

{1: 3490, 2: 1250, 3: 1600, 4: 698, 5: 1450, 6: 700, 7: 700, 8: 700}

clf_xgb = XGBClassifier()
param_dist = {'n_estimators': [100, 300, 500, 700, 900],
              'learning_rate': [1, 0.1, 0.01, 0.02],
              'max_depth': [3, 4, 5, 6],
             }

clf = GridSearchCV(clf_xgb, 
                   param_dist,
                   cv = 5,
                   verbose = 3, 
                   n_jobs = -1)

clf.fit(X_res, y_res)

clf.best_params_
Best parameters = {'learning_rate': 0.02, 'max_depth': 5, 'n_estimators': 900}

clf.best_score_

In [128]:
model = XGBClassifier(label_encoder = False, 
                      learning_rate = 0.01,max_depth = 9,
                       n_estimators = 900, subsample = 0.5349338392246493)
#model = XGBClassifier(label_encoder = False)
#900 gave the best score
#max depth 7

In [129]:
model.fit(X_res, y_res)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              label_encoder=False, learning_rate=0.01, max_delta_step=0,
              max_depth=9, min_child_weight=1, missing=None, n_estimators=900,
              n_jobs=1, nthread=None, objective='multi:softprob',
              random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
              seed=None, silent=None, subsample=0.5349338392246493,
              verbosity=1)

In [130]:
y_pred = model.predict(test_data_processed)

In [131]:
# Getting f1 score
from sklearn.metrics import classification_report
print(classification_report(Y_test, y_pred))

              precision    recall  f1-score   support

           1       0.71      0.83      0.77       183
           2       0.56      0.15      0.23        68
           3       0.44      0.66      0.53        86
           4       0.33      0.14      0.19        37
           5       0.67      0.78      0.72        78
           6       0.52      0.30      0.38        37
           7       0.27      0.17      0.21        18
           8       0.42      0.61      0.50        18

    accuracy                           0.59       525
   macro avg       0.49      0.45      0.44       525
weighted avg       0.58      0.59      0.56       525

In [115]:
# Getting f1 score
from sklearn.metrics import classification_report
print(classification_report(Y_test, y_pred))

              precision    recall  f1-score   support

           1       0.73      0.83      0.78       183
           2       0.71      0.18      0.28        68
           3       0.41      0.66      0.51        86
           4       0.42      0.14      0.20        37
           5       0.67      0.78      0.72        78
           6       0.47      0.22      0.30        37
           7       0.25      0.17      0.20        18
           8       0.47      0.78      0.58        18

    accuracy                           0.59       525
   macro avg       0.52      0.47      0.45       525
weighted avg       0.60      0.59      0.56       525

In [116]:
y_submission = model.predict(submission_data_processed)

In [117]:
unique, counts = np.unique(y_submission, return_counts=True)
dict(zip(unique, counts))

{1: 1810, 2: 183, 3: 1029, 4: 138, 5: 839, 6: 214, 7: 113, 8: 174}

In [118]:
y_submission

array([2, 1, 3, ..., 3, 7, 3])

In [119]:
y_submissions_series = pd.Series(y_submission)

In [120]:
submission_data = {'primary_identifier' : pd.to_numeric(prim_id),
                 'next_month_plan' : pd.to_numeric(y_submissions_series)}

submission_df = pd.DataFrame(submission_data)

In [121]:
submission_df.shape

(4500, 2)

In [122]:
submission_df.to_csv("submission_6.csv")

In [123]:
submission_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4500 entries, 0 to 4499
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   primary_identifier  4500 non-null   int64
 1   next_month_plan     4500 non-null   int64
dtypes: int64(2)
memory usage: 70.4 KB

In [1]:
from keras.layers import Input,Dense,Conv1D,MaxPool1D,GlobalMaxPooling1D,Add,GlobalAveragePooling1D,Reshape,multiply
from keras.layers.merge import concatenate
from keras.models import Model
from keras import callbacks

ModuleNotFoundError: No module named 'keras'

In [105]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.metrics import log_loss
from sklearn.model_selection import StratifiedKFold
import gc
import os
import matplotlib.pyplot as plt
import seaborn as sns 
import lightgbm as lgb
#from catboost import Pool, CatBoostClassifier
import itertools
import pickle, gzip
import glob

In [110]:
#K.clear_session()
def build_model(dropout_rate=0.25,activation='relu'):
    start_neurons = 256
    feat_ip = Input(shape=(train_data.shape[1],), name='feature_ip')
    
    x = BatchNormalization()(feat_ip)
    x = Dense(start_neurons, activation=activation)(x)    
    feat1 = Dropout(rate=dropout_rate)(x)

    x = BatchNormalization()(feat1)
    x = Dense(start_neurons//2, activation=activation)(x)    
    feat2 = Dropout(rate=dropout_rate)(x)
    
    x = BatchNormalization()(feat2)
    x = Dense(start_neurons//4, activation=activation)(x)    
    feat3 = Dropout(rate=dropout_rate)(x)
    x = BatchNormalization()(feat3)
    x = Dense(start_neurons//8, activation=activation)(x)    
    feat4 = Dropout(rate=dropout_rate/2)(x)

    feat_concat = concatenate([feat1,feat2,feat3,feat4])
    out = Dense(len(classes), activation='softmax')(feat_concat)

    model = Model(inputs=[feat_ip], outputs=[out])    
    return model

In [111]:
model = build_model(dropout_rate=0.25,activation='relu')

NameError: ignored

In [108]:
model.compile(loss= keras.losses.SparseCategoricalCrossentropy(),
             optimizer=tf.keras.optimizers.Adam(lr=0.001),
             metrics=['accuracy'])
history = model.fit(X_train, Y_train,
                    validation_data=[X_test, Y_test], 
                    epochs=250,
                    batch_size=200)

AttributeError: ignored